<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="javazxwBean" class="com.javazx.po.JavazxwBean"/>

    <bean id="javazxwBean2" class="com.javazx.beanfactory.JavazxwBeanFactory" factory-method="getJavazxwBean2"/>

    <bean id="javazxwBean3Factory" class="com.javazx.beanfactory.JavazxwBean3Factory"/>
    <bean id="javazxwBean3" class="com.javazx.po.JavazxwBean3" factory-bean="javazxwBean3Factory"
          factory-method="getJavazxwBean3"/>

    <bean id="anotherBean" class="com.javazx.po.AnotherBean"/>

    <!-- 简单写法 -->
    <!--<bean id="bean" class="com.javazx.po.Bean" c:anotherBean-ref="anotherBean" c:string="cccc"
          p:anotherBean1-ref="anotherBean" p:string1="pppp">
    </bean>-->

    <!-- name="anotherBean" type="com.javazx.po.AnotherBean"  name="string" type="java.lang.String" 可以省略 -->
    <bean id="bean" class="com.javazx.po.Bean">
        <constructor-arg index="0" ref="anotherBean"/>
        <constructor-arg index="1" value="javazx"/>
        <property name="anotherBean1">
            <bean class="com.javazx.po.AnotherBean"/>
        </property>
        <property name="string1" value="bbb"/>
        <property name="stringList">
            <list>
                <value>aaaaa</value>
                <value>bbbbb</value>
            </list>
        </property>
        <property name="anotherBeanList">
            <list>
                <ref bean="anotherBean"/>
                <ref bean="anotherBean"/>
            </list>
        </property>

        <property name="stringSet">
            <set>
                <value>aaaaa</value>
                <value>bbbbb</value>
            </set>
        </property>
        <property name="anotherBeanSet">
            <set>
                <ref bean="anotherBean"/>
                <ref bean="anotherBean"/>
            </set>
        </property>

        <property name="stringMap">
            <map>
                <entry key="ccccc" value="ccccc"/>
                <entry key="dddddd" value="ddddd"/>
            </map>
        </property>

        <property name="anotherBeanMap">
            <map>
                <entry key-ref="anotherBean" value-ref="anotherBean"/>
            </map>
        </property>

        <property name="roperties">
            <props>
                <prop key="aaaaa">bbbbb</prop>
            </props>
        </property>

    </bean>
    <!-- 方法注入 -->
    <!--<bean id="bean3" class="com.javazx.po.Bean3" scope="prototype"/>-->
    <bean id="bean2" class="com.javazx.po.Bean2" scope="singleton">
        <lookup-method name="createBean3" bean="bean3"/>
    </bean>
    <bean class="com.javazx.controller.RequestController" scope="request"/>
    <bean class="com.javazx.controller.SessionController" scope="session"/>
    <bean class="com.javazx.controller.ApplicationController" scope="application"/>

    <!-- 自定义作用域 -->
    <bean id="myScope" class="com.javazx.po.MyScope"/>
    <bean id="simpleThreadScope" class="org.springframework.context.support.SimpleThreadScope"/>
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="myScope" value-ref="myScope"/>
                <!-- spring自定义的作用域 不同线程创建新实例-->
                <entry key="simpleThreadScope" value-ref="simpleThreadScope"/>
            </map>
        </property>
    </bean>
    <!--<bean id="bean3" class="com.javazx.po.Bean3" scope="myScope"/>-->
    <bean id="bean3" class="com.javazx.po.Bean3" scope="simpleThreadScope"/>
    <!-- bean懒加载 beans中整体添加default-lazy-init="true"将全部进行懒加载-->
    <!--<bean id="lazyBean" class="com.javazx.po.lazyload.LazyBean" lazy-init="true"/>-->
    <!-- bean初始化、销毁-->
    <bean id="lazyBean" class="com.javazx.po.lazyload.LazyBean" init-method="onInit" destroy-method="onDestroy"/>
</beans>