<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="javazxwBean" class="com.javazx.po.JavazxwBean"/>

    <bean id="javazxwBean2" class="com.javazx.beanfactory.JavazxwBeanFactory" factory-method="getJavazxwBean2"/>

    <bean id="javazxwBean3Factory" class="com.javazx.beanfactory.JavazxwBean3Factory"/>
    <bean id="javazxwBean3" class="com.javazx.po.JavazxwBean3" factory-bean="javazxwBean3Factory" factory-method="getJavazxwBean3"/>

</beans>